# Exercise 1: Basic Data Loading

In [6]:
import pandas as pd

# Create your own sample dataset 
exercise_data = { 
'Student_Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'], 'Math_Score': [85, 92, 78, 96, 88], 
'English_Score': [90, 85, 92, 89, 94], 
'Science_Score': [88, 90, 85, 92, 87], 
'Grade_Level': [10, 11, 10, 12, 11] 
} 

# Convert to DataFrame 

grades_df =pd. DataFrame(exercise_data)

In [11]:
# first 3 rows

first_three=grades_df.head
print(grades_df.head(3))

  Student_Name  Math_Score  English_Score  Science_Score  Grade_Level
0        Alice          85             90             88           10
1          Bob          92             85             90           11
2      Charlie          78             92             85           10

In [14]:
# 2. Show the shape of the dataset 
print("Shape of the dataset:",grades_df.shape)

Shape of the dataset: (5, 5)

In [13]:
# 3. Display all column names 
print("Column names:",grades_df.columns.tolist())

Column names: ['Student_Name', 'Math_Score', 'English_Score', 'Science_Score', 'Grade_Level']

In [15]:
# 4. Get summary statistics 
print(grades_df.describe)

<bound method NDFrame.describe of   Student_Name  Math_Score  English_Score  Science_Score  Grade_Level
0        Alice          85             90             88           10
1          Bob          92             85             90           11
2      Charlie          78             92             85           10
3        Diana          96             89             92           12
4          Eve          88             94             87           11>

## Exercise 2: Data Selection Practice

In [16]:
print("Exercise data selection practise!!")

Exercise data selection practise!!

In [17]:
# Using the grades dataset from Exercise 1 
# Complete these tasks:

print("Task 1: Select only Math and English scores using")

# Select rows where both scores are not null (always true in this case)
math_english = grades_df[(grades_df['Math_Score'].notna()) & (grades_df['English_Score'].notna())][['Math_Score', 'English_Score']]

print(math_english)

Task 1: Select only Math and English scores using
   Math_Score  English_Score
0          85             90
1          92             85
2          78             92
3          96             89
4          88             94

In [18]:
print("\nTask 2: Get the first 2 rows using iloc")

# YOUR CODE HERE:
first_two = grades_df.iloc[0:2]

print(first_two)

Task 2: Get the first 2 rows using iloc
  Student_Name  Math_Score  English_Score  Science_Score  Grade_Level
0        Alice          85             90             88           10
1          Bob          92             85             90           11

In [19]:
print("\nTask 3: Select student names and math scores for rows 1-3")

# YOUR CODE HERE:
names_maths = grades_df.loc[1:3, ['Student_Name', 'Math_Score']]

print(names_maths)

Task 3: Select student names and math scores for rows 1-3
  Student_Name  Math_Score
1          Bob          92
2      Charlie          78
3        Diana          96

### Exercise 3: Filtering Challenge

In [20]:
print("1. Scored above 90 in Math:")

# YOUR CODE HERE:
high_math = grades_df[grades_df['Math_Score'] > 90]

print(high_math)

1. Scored above 90 in Math:
  Student_Name  Math_Score  English_Score  Science_Score  Grade_Level
1          Bob          92             85             90           11
3        Diana          96             89             92           12

In [23]:
print("\n2. Are in grade 10 OR scored above 90 in English:")

# YOUR CODE HERE:
condition = grades_df[(grades_df['Grade_Level'] == 10) | (grades_df['English_Score'] > 90)]

print(condition)

2. Are in grade 10 OR scored above 90 in English:
  Student_Name  Math_Score  English_Score  Science_Score  Grade_Level
0        Alice          85             90             88           10
2      Charlie          78             92             85           10
4          Eve          88             94             87           11

In [24]:
print("\n3. Scored above 85 in ALL three subjects:")

# YOUR CODE HERE:
all_high = grades_df[
    (grades_df['Math_Score'] > 85) &
    (grades_df['English_Score'] > 85) &
    (grades_df['Science_Score'] > 85)
]

print(all_high)

3. Scored above 85 in ALL three subjects:
  Student_Name  Math_Score  English_Score  Science_Score  Grade_Level
3        Diana          96             89             92           12
4          Eve          88             94             87           11